[Desktop Entry]
Name=Selah
Comment=Holy Bible Study App
Exec=selah
Icon=com.selah.Selah
Terminal=false
Type=Application
Categories=Education;Utility;
StartupWMClass=com.selah.Selah
